.modal-open--ignored {
    overflow: unset !important;
    padding-right: 0 !important;
}

#section_publicacionesRelacionadas .playerModal {
    margin-bottom: 0;
}

#section_publicacionesRelacionadas .playerModal .modal-content {
    bottom: -1rem;
}

#detalle_publicacion ul.lista_multimediaAsociada {
    justify-content: flex-start;
    flex-wrap: wrap;
}

#page_listaLectura .playerModal {
    margin-bottom: 0;
    padding-bottom: 0;
}

#page_home_noLogin .partial_filtros {
    margin-top: 4rem;
}

@-moz-document url-prefix() {
    .modalAudio__podcast {
        background-color: #484848;
        border-radius: 30px;
        margin-bottom: 8px !important;
        box-sizing: content-box;
        height: 54px;
    }

    .modalAudio__podcast audio {
        background-color: white;
        width: calc(100% - 20px) !important;
        margin-left: 10px;
        margin-top: 7px;
    }
}